.list_holder {
    border: 2px solid lightgrey;
    border-radius: 5px 5px 5px 5px;
    width: 275px;
    height: 350px;
}

.selected_character {
    font-size: 12px;
    color: lightgreen;
    cursor: pointer;
    padding-bottom: 5px;
}

.list_title {
    padding: 5px 5px 0px 5px;
    color: yellow;
    cursor: default;
    text-align: center;
    font-weight: bold;
}

.list_item_holder {
    height: calc(100% - 47px);
    background-color: lightgrey;
    overflow: scroll;
}

.list_item {
    background-color: white;
    color: black;
    padding: 10px;
    border: 1px solid lightgrey;
}

.icon_name {
    font-weight: bold;
}

.list_item:hover {
    background-color: lightblue;
}

.icon_sizer {
    width: 100px;
}