.widget_holder {
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
    padding: 20px;
}

.widget_cell {
    display: inline-block;
    padding: 20px;
}

.super_title_text {
    font-size: 24px;
    font-weight: bold;
    color: yellow;
    border: 2px solid lightgrey;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    width: 300px;
    margin: auto;
}

.table_row {
    display : table-row;
}