.list_holder {
    text-align: center;
    padding-top: 10px;
}

.list_holder > div {
    padding: 10px;
}

.super_title_text {
    font-size: 24px;
    font-weight: bold;
    color: yellow;
    border: 2px solid lightgrey;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    text-align: center;
    min-width: 300px;
    margin: auto;
}